.Logo {
  max-width: 150px;
}

@media (max-width: 800px) {
    .Logo {
        max-width: 105px;
    }
}

.Menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 95px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    transition: background-color .6s ease-out;
  }


@media (max-width: 800px) {
  .Menu {
      height: 40px;
      justify-content: center;
  }
}

.header-hidden {
  transform: translateY(-100%);
}

.header-background {
  background-color: #0a0a0a;
}

.no-header-background {
  background: linear-gradient(to bottom, rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0));
  background-repeat: no-repeat;
}

.ButtonLink {
    color: var(--white);
    border: 1px solid var(--white);
    box-sizing: border-box;
    cursor: pointer;
    padding: 16px 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    outline: none;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

.ButtonLink:hover,
.ButtonLink:focus {
    color: black;
    background: var(--white);
}

@media (max-width: 800px) {
a.ButtonLink {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        background: #2669fc;
        border-radius: 0;
        border: 0;
        text-align: center;
    }
}